[user]
	name = yasarmahomedabbas
	email = yasar.tm44@gmail.com
[core]
    pager = diffnav

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    syntax-theme = Nord
    minus-style = syntax "#432d36"
    minus-emph-style = syntax "#5c3a44"
    minus-non-emph-style = syntax "#432d36"
    plus-style = syntax "#2e3d33"
    plus-emph-style = syntax "#3d5343"
    plus-non-emph-style = syntax "#2e3d33"
    line-numbers-minus-style = "#bf616a"
    line-numbers-plus-style = "#a3be8c"
    line-numbers-zero-style = "#4c566a"
    hunk-header-style = file line-number syntax
    hunk-header-decoration-style = "#434c5e" box
    file-style = bold "#88c0d0"
    file-decoration-style = "#434c5e" ul
    whitespace-error-style = "#bf616a" reverse
    dark = true
    line-numbers = true
    line-fill-method = spaces
    side-by-side = true

[alias]
    dd = diff develop

[merge]
    conflictStyle = zdiff3
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
